#div1 {
background-color: palegreen;
width: 1000px;
height: 100px;
margin: auto;
font-family: sans-serif;
color: coral;
text-align: center;
font-size: 100px;


}


#div2 {
    background-color: chocolate;
    width: 1000px;
    height: 100px;
    border-radius: 15px 50px 30px;
    margin: auto;
    color: blue;
    text-align: center;
    font-size: 1000px;
    font-family: sans-serif;
}